<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.mybatis.demo.dao.UserDao">
    <resultMap id="BaseResultMap" type="org.mybatis.demo.bean.UserInfo">
        <id column="user_id" jdbcType="BIGINT" property="userId" />
        <result column="user_name" jdbcType="VARCHAR" property="userName" />
        <result column="account" jdbcType="VARCHAR" property="account" />
        <result column="password" jdbcType="VARCHAR" property="password" />
    </resultMap>
    <sql id="Base_Column_List">
        user_id, user_name, account, password
    </sql>

    <insert id="insert" parameterType="org.mybatis.demo.bean.UserInfo">
        insert into user_info (user_id, user_name, account, password)
        values (#{userId,jdbcType=BIGINT}, #{userName,jdbcType=VARCHAR},
                #{account,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR})
    </insert>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from user_info
        where user_id = #{userId,jdbcType=BIGINT}
    </select>

    <update id="updateByPrimaryKey" parameterType="org.mybatis.demo.bean.UserInfo">
        update user_info
        set user_name = #{userName,jdbcType=VARCHAR},
        account = #{account,jdbcType=VARCHAR},
        password = #{password,jdbcType=VARCHAR}
        where user_id = #{userId,jdbcType=BIGINT}
    </update>
</mapper>